body{
  margin: 0;
  font-family: 'League Spartan', sans-serif;
}

h1, h2, h3 {
  font-family: 'League Spartan', sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 32px;
}

h2 {
  font-weight: 600;
  font-size: 24px;
}

h3 {
  font-weight: 200;
}