:root {
  --colorWhite: #fff;
  --colorGrey1: #DBDBDB;
  --colorGrey2: #ABABAB;
  --colorBlack1: #3A3A3A;
  --colorBlack2: #1A1A1B;
  --colorBlack3: #101010;
  --colorRed1: #d95c4f;
  --colorGreen1: #4caf50;
  --colorBlue1: #1E90FF;
  --colorBlue2: #384aa7;
  --colorCompTable1: #1e1e1f;
  --colorCompTable2: #272728;
}


body{
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  overflow-x: hidden;
  background-color: var(--colorBlack3);
}

h2, h3, h4, h5, h6{
  margin: 0;
  color: var(--colorGrey1);
}

h1 {
  margin: 0;
  font-size: clamp(2rem, 4vw, 2.5rem);
  font-weight: 500;
  color: var(--colorWhite);
}

h2 {
  font-size: clamp(1.5rem, 2vw, 2rem);
}

h3 {
  font-size: clamp(1.3rem, 1.7vw, 1.7rem);
  font-weight: 400;
}

h4 {
  font-size: clamp(1rem, 1.4vw, 1.2rem);
}

h5 {
  font-size: clamp(1rem, 1vw, 1.2rem);
}

h6 {
  font-size: clamp(0.8rem, 1vw, 1.2rem);
}

p {
  color: var(--colorGrey1);
}

.blueLink{
  color: var(--colorBlue1);
}

.title{
  letter-spacing: -1px;
  text-align: center;
  padding: clamp(12px, 2vw, 24px) 0px;
}

button {
  font-weight: 400;
  font-size: clamp(1rem, 1.1vw, 1.2rem);
  border: 1px solid var(--colorGrey1);
  border-radius: 5px;
  background: none;
  color: var(--colorGrey1);
  padding: 12px 24px;
  cursor: pointer;
}

button:hover {
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: var(--colorGrey1);
  color: var(--colorBlack3);
}