:root {
  --colorWhite: #fff;
  --colorGrey1: #DBDBDB;
  --colorGrey2: #ABABAB;
  --colorBlack1: #3A3A3A;
  --colorBlack2: #1A1A1B;
  --colorBlack3: #101010;
  --colorRed1: #d95c4f;
  --colorGreen1: #4caf50;
  --colorBlue1: #1E90FF;
  --colorBlue2: #384aa7;
  --colorCompTable1: #1e1e1f;
  --colorCompTable2: #272728;
}


body{
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  overflow-x: hidden;
}

h1 {
  margin: 0;
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--colorWhite);
  padding: 16px;
}

h4 {
  margin: 0;
  text-align: center;
  font-weight: 300;
  font-size: 1.2rem;
  color: var(--colorGrey1);
  padding: 16px;
}

.blueLink{
  color: var(--colorBlue1);
}

.bgCol{
  background-color: var(--colorBlack2);
  color: var(--colorWhite);
}